* {
    margin:0;
    padding:0;
    border: 0;
    text-decoration: none;
}

    :root {
        /* Variáveis de cores */
        --cor-background: #181D31;
        --cor-primaria: #E6DDC4;
        --cor-letras: #735F32;
        --cor-cabecalho: #678983;

        --cor-certificados: #555555;
        --cor-backincons: #808080;
        
        /* Variáveis de fontes */
        --fonte-titulos: "Krona One", sans-serif;
        --fonte-textos: "Montserrat", sans-serif;
    }


body {
    box-sizing: border-box;
    background-color: var(--cor-background);
}

    .cabecalho {
        display: flex;
        justify-content: center;
        padding: 2% 0% 2% 0%;
        background-color: var(--cor-cabecalho);
    }

        .cabecalho__menu {
            display: flex;
            gap: 80px;
        }

            .cabecalho__menu__link {
                font-size: 24px;
                font-family: var(--fonte-titulos);
                font-weight: 600;
                font-style: normal;
                color: var(--cor-primaria);
                text-decoration: none;
            }

                .cabecalho__menu__link:hover {
                    border: 2px solid var(--cor-primaria);
                    color: var(--cor-primaria);
                    width: 120px;
                    text-align: center;
                    padding: 2px 0;
                    justify-content: center;
                    border-radius: 16px;
                    cursor: pointer;
                    background-color: #272727;
                    font-size: 15px;
                }

    .apresentacao {
        display: flex;
        padding: 5% 8%;
        align-items: center;
        justify-content: space-between;
    }

        .apresentacao__conteudo {
            width: 615px;
            display: flex;
            flex-direction: column;
            gap: 40px;

        }

            .apresentacao__conteudo__titulo {
                color: var(--cor-letras);
                font-size: 36px;
                font-family: var(--fonte-titulos);
                font-weight: 400;
                font-style: normal;
                text-align: center;
            }

                .titulo-destaque {
                    color: var(--cor-primaria);
                }

            .apresentacao__conteudo__paragrafo {
                color: var(--cor-letras);
                font-size: 24px;
                font-family: var(--fonte-textos);
            }

            .apresentacao__links {
                color: var(--cor-letras);
                flex-direction: column;
                justify-content: center;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 32px;
            }

            
                .apresentacao__links__subtitulo {
                    font-family: var(--fonte-titulos);
                    font-weight: 400;
                    font-size: 24px;
                }

                .apresentacao__links__link {
                    display: flex;
                    justify-content: center;
                    border: 2px solid var(--cor-primaria);
                    width: 378px;
                    padding: 10px 0;
                    text-align: center;
                    border-radius: 8px;
                    font-size: 24px;
                    font-weight: 600;
                    font-family: var(--fonte-textos);
                    font-style: normal;
                    color: var(--cor-letras);
                    gap: 16px;
                }

                    .apresentacao__links__link:hover {
                        border: 2px dotted aqua;
                        cursor: pointer;
                        background-color: #272727;
                        font-size: 26px;
                    }

                .apresentacao__links__contato {
                    color: var(--cor-letras);
                    justify-content: center;
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    gap: 25px;
                }    

                    .apresentacao__links__contato__link {
                        border: 2px solid var(--cor-primaria);
                        width: 180px;
                        padding: 5px 0;
                        text-align: center;
                        border-radius: 8px;
                        font-size: 18px;
                        font-weight: 600;
                        font-family: var(--fonte-textos);
                        font-style: normal;
                        color: var(--cor-letras);
                    }

                        .apresentacao__links__contato__link:hover {
                            border: 2px dotted aqua;
                            cursor: pointer;
                            background-color: #272727;
                            font-size: 19px;
                        }

     
        .contato {
            color: var(--cor-primaria);
            font-weight: bold;
        }

        .tecnologias {
            color: var(--cor-primaria);
            font-weight: bold;
        }
                                    
    .rodape {
        padding: 18px;
        color: var(--cor-background);
        background-color: var(--cor-primaria);
        text-align: center;
        font-family: var(--fonte-textos);
        font-style: italic;
        font-size: 400;
    }

    .apresentacao__esc {
        display: flex;
        padding: 5% 8%;
        align-items: center;
        justify-content: space-between;
    }

    .apresentacao__incons {
        width: 615px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }

        .apresentacao__incons__titulo {
            color: var(--cor-letras);
            font-size: 36px;
            font-family: var(--fonte-titulos);
            font-weight: 400;
            font-style: normal;
        }

        .apresentacao__incons__group {
            display: flex;
            justify-content: center;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            background-color: var(--cor-backincons);
        }

    .apresentacao__conteudo__paragrafo__certificado {
        color: var(--cor-certificados);
    }